<!DOCTYPE html>
<html>
<head>
    <title>Word Feud Assist</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
    <script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://static.jquery.com/ui/css/demo-docs-theme/ui.theme.css">
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/themes/start/jquery-ui.css">
    <style type="text/css">
        header 
        {
            clear : both;
            margin : 5px;
            min-width : 334px;
            height : 42px;
            overflow:visible;
            background-color : #2191C0;
            color : White;
            width : 400px;
        }
        h1
        {
            font-size : 1.5em;
        }
        header h1 
        {
            margin : 0px;
            margin-top : 0.2em; /*I really, truly hate css*/
        }
        h2
        {
            font-size : 1.1em;
        }
        header #selectlang 
        {
            float : right;
            margin-left:10px;
        }      
        header #home 
        {
            float : left;
            width : 200px;
        }
        div.field 
        {
            height : 2em;
        }
        div.field label
        {
            float : left;
            width : 150px;
        }   
        div.field input
        {
            float : left;
            width : 150px;
        }
        div.field span.ui-button
        {
            margin-left : 150px;
            width : 150px;
            float : left;
        }
        div.field img
        {
            float : left;
        }        
        footer 
        {
            clear : both;
            margin : 5px;
            min-width : 334px;
            height : 3em;
            overflow:visible;
            font-size : x-small;
            background-color : #2191C0;
            width : 400px;
        } 
        
        footer li {float : left; list-style : none;}
        footer a 
        { 
            margin: 2px; position: relative; padding: 4px 8px 4px 0; cursor: pointer; 
            float: left; list-style: none; 
            background : none !important; 
            background-color : transparent !important; 
            border : none !important;
        }
        footer a span.ui-icon { float: left; margin: 0 4px; }
        #tabs {width:400px;}
        
        .styleTable { border-collapse: separate; }
        .styleTable TD { font-weight: normal !important; padding: .4em; border-top-width: 0px !important; }
        .styleTable TH { text-align: center; padding: .8em .4em; }
        .styleTable TD.first, .styleTable TH.first { border-left-width: 0px !important; }
    </style>
    <script type="text/x-jquery-tmpl" id="wordsTemplate">
        <ul>
        {{each words}}
            <li class="ui-state-default">${$value}</li>
        {{/each}}
        </ul>
    </script>
    <script type="text/javascript">
        (function ($) {
            $.fn.styleTable = function (options) {
                var defaults = {
                    css: 'styleTable'
                };
                options = $.extend(defaults, options);

                return this.each(function () {

                    input = $(this);
                    input.addClass(options.css);

                    input.find("tr").live('mouseover mouseout', function (event) {
                        if (event.type == 'mouseover') {
                            $(this).children("td").addClass("ui-state-hover");
                        } else {
                            $(this).children("td").removeClass("ui-state-hover");
                        }
                    });

                    input.find("th").addClass("ui-state-default");
                    input.find("td").addClass("ui-widget-content");

                    input.find("tr").each(function () {
                        $(this).children("td:not(:first)").addClass("first");
                        $(this).children("th:not(:first)").addClass("first");
                    });
                });
            };
        })(jQuery);
        $(document).ready(function () {
            $("#usage-examples").styleTable();
            $("#tabs").tabs();
            $("#lang-radio-set").buttonset();
            $("#progress").hide();
            $("#search").button({ icons: { primary: 'ui-icon-search' }, text: false });
            $("#pattern").focus();
            $("#search").click(function () {
                $("#progress").show();
                var patternText = $("#pattern").val();
                var lettersText = $("#availableLetters").val();
                var lang = $('input[name=lang-radio]:checked').val();
                var url = "";
                if (lettersText) {
                    url = "wordsfiltered/" + encodeURIComponent(lang) + "/" + encodeURIComponent(patternText) + "/" + encodeURIComponent(lettersText);
                } else {
                    url = "words/" + encodeURIComponent(lang) + "/" + encodeURIComponent(patternText);
                }
                //todo: pretty error popup
                $.ajax(url, {
                    success: function (data) {
                        $("#result")
                            .html($("#wordsTemplate").tmpl({ words: data }));
                    },
                    complete: function () {
                        $("#progress").hide();
                    }
                });
            });
        });
    </script>
</head>

<body>
    <div id="container">
        <header>
            <div id="home">
                <h1>Word Feud Assist</h1>
            </div>
            <div id="selectlang">
                <form>
                    <div id="lang-radio-set">
                        <input type="radio" id="lang-sv" name="lang-radio" checked="checked" value="sv" /><label for="lang-sv">sv</label>
                        <input type="radio" id="lang-en" name="lang-radio" value="en" /><label for="lang-en">en</label>
                    </div>
                </form>
            </div>    
        </header>
        <div id="tabs">
            <ul>
                <li><a href="#tabs-findwords">Find Words</a></li>
                <li><a href="#tabs-help">Help</a></li>
             </ul>
            <div id="tabs-findwords">
                <article>
                    <section>
                        <form id="search-form">
                            <fieldset class="ui-widget ui-widget-content">
                                <div class="field">
                                    <label for="pattern">Pattern:</label>
                                    <input type="text" id="pattern" name="pattern" />
                                </div>
                                <div class="field">
                                    <label for="availableLetters">Letters:</label>
                                    <input type="text" id="availableLetters" name="availableLetters" />
                                </div>
                                <div class="field">
                                    <span id="search">Go</span>
                                    <img id="progress" src="@Url.Content("~/Content/ajax-loader.gif")" alt="Working on it..." />
                                </div>
                            </fieldset>
                        </form>
                    </section>
                    <section id="result">
                    </section>
                </article>
            </div>
            <div id="tabs-help">
                <h2>Examples</h2>
                <table id="usage-examples">
                    <thead>
                        <tr>
                            <th>Pattern</th>
                            <th>Letters</th>
                            <th>Result</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>katt</td>
                            <td></td>
                            <td>katt</td>
                        </tr>
                        <tr>
                            <td>z*</td>
                            <td>on</td>
                            <td>zon</td>
                        </tr>
                        <tr>
                            <td>z*</td>
                            <td>oon</td>
                            <td>zon, zoo, zoon</td>
                        </tr>
                        <tr>
                            <td>bad?</td>
                            <td></td>
                            <td>bads, bada</td>
                        </tr>
                        <tr>
                            <td>bad?</td>
                            <td>a</td>
                            <td>bada</td>
                        </tr>
                        <tr>
                            <td>ka*ma?</td>
                            <td>ttt</td>
                            <td>kattmat</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <footer>
            <ul>
                <li><a target="_blank" href="http://dsso.se/" class="ui-state-default"><span class="ui-icon ui-icon-extlink"></span>Swedish dictionary</a></li>
                <li><a target="_blank" href="https://appharbor.com/" class="ui-state-default"><span class="ui-icon ui-icon-extlink"></span>Host</a></li>
                <li><a target="_blank" href="https://github.com/alundgren/wf-assist" class="ui-state-default"><span class="ui-icon ui-icon-extlink"></span>Source on github</a></li>
            </ul>            
        </footer>
    </div>
</body>
</html>