<!DOCTYPE html>
<html>
<head>
    <title>Word Feud Assist</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
    <script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://static.jquery.com/ui/css/demo-docs-theme/ui.theme.css">
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/themes/start/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/fail.css")">
    <script type="text/javascript" src="@Url.Content("~/Scripts/wf.js")"></script>
    
    <script type="text/x-jquery-tmpl" id="wordsTemplate">
        <ul class="result-list">
            {{each words}}
                <li class="ui-state-default">${$value}</li>
            {{/each}}
        </ul>
    </script>
</head>

<body>
    <div id="container">
        <header>
            <div id="home">
                <h1>Word Feud Assist</h1>
            </div>
            <div id="selectlang">
                <form>
                    <div id="lang-radio-set">
                        <input type="radio" id="lang-sv" name="lang-radio" checked="checked" value="sv" /><label for="lang-sv">sv</label>
                        <input type="radio" id="lang-en" name="lang-radio" value="en" /><label for="lang-en">en</label>
                    </div>
                </form>
            </div>    
        </header>
        <div id="tabs">
            <ul>
                <li><a href="#tabs-findwords">Find Words</a></li>
                <li><a href="#tabs-help">Help</a></li>
                <li><a href="#tabs-debug">Debug</a></li>
             </ul>
            <div id="tabs-findwords">
                <article>
                    <section>
                        <form id="search-form">
                            <fieldset class="ui-widget ui-widget-content">
                                <div class="field">
                                    <label for="pattern">Pattern:</label><br/>
                                    <input type="text" id="pattern" name="pattern" />
                                </div>
                                <div class="field">
                                    <label for="availableLetters">Letters:</label><br/>
                                    <input type="text" id="availableLetters" name="availableLetters" />
                                </div>
                                <div class="field">
                                    <span id="search">Go</span><br/>
                                    <img id="progress" src="@Url.Content("~/Content/ajax-loader.gif")" alt="Working on it..." />
                                </div>
                            </fieldset>
                        </form>
                    </section>
                    <section id="result">
                    </section>
                </article>
            </div>
            <div id="tabs-help">
                <h2>Examples</h2>
                <table id="usage-examples">
                    <thead>
                        <tr>
                            <th class="ui-state-default">Pattern</th>
                            <th class="ui-state-default">Letters</th>
                            <th class="ui-state-default">Result</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="ui-widget-content">katt</td>
                            <td class="ui-widget-content"></td>
                            <td class="ui-widget-content">katt</td>
                        </tr>
                        <tr>
                            <td class="ui-widget-content">z*</td>
                            <td class="ui-widget-content">on</td>
                            <td class="ui-widget-content">zon</td>
                        </tr>
                        <tr>
                            <td class="ui-widget-content">z*</td>
                            <td class="ui-widget-content">oon</td>
                            <td class="ui-widget-content">zon, zoo, zoon</td>
                        </tr>
                        <tr>
                            <td class="ui-widget-content">bad?</td>
                            <td class="ui-widget-content"></td>
                            <td class="ui-widget-content">bads, bada</td>
                        </tr>
                        <tr>
                            <td class="ui-widget-content">bad?</td>
                            <td class="ui-widget-content">a</td>
                            <td class="ui-widget-content">bada</td>
                        </tr>
                        <tr>
                            <td class="ui-widget-content">ka*ma?</td>
                            <td class="ui-widget-content">ttt</td>
                            <td class="ui-widget-content">kattmat</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="tabs-debug">
                documentElement.width: <span id="window-width"></span><br/>
                documentElement.height: <span id="window-height"></span><br/>
                window.innerWidth: <span id="window-inner-width"></span><br/>
                window.innerHeight: <span id="window-inner-height"></span><br/>
                window.pageXOffset: <span id="window-x-offset"></span><br/>
                window.pageYOffset: <span id="window-y-offset"></span><br/>
                screen.width: <span id="screen-width"></span><br/>
                screen.height: <span id="screen-height"></span><br/>
                User Agent: <span id="user-agent"></span>
            </div>
        </div>
        <footer>
            <ul>
                <li><a target="_blank" href="http://dsso.se/" class="ui-state-default"><span class="ui-icon ui-icon-extlink"></span>Swedish dictionary</a></li>
                <li><a target="_blank" href="https://appharbor.com/" class="ui-state-default"><span class="ui-icon ui-icon-extlink"></span>Host</a></li>
                <li><a target="_blank" href="https://github.com/alundgren/wf-assist" class="ui-state-default"><span class="ui-icon ui-icon-extlink"></span>Source on github</a></li>
            </ul>            
        </footer>
    </div>
</body>
</html>